/.metadata/.lock
/.metadata/.plugins/org.eclipse.core.resources/.history/34/90aa7c61830f0014168a90d6abf129f8
/.metadata/.plugins/org.eclipse.core.resources/.history/a9/c0dc6755830f0014168a90d6abf129f8
/.metadata/.plugins/org.eclipse.core.resources/.projects/PracticeHomeJava/.indexes/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/PracticeHomeJava/.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/PracticeHomeJava/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/REstFulWS/.indexes/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/REstFulWS/.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/REstFulWS/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.debug.core/.launches/InstanceOf.launch
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.jdt.core/1150366783.index
/.metadata/.plugins/org.eclipse.jdt.core/1449775907.index
/.metadata/.plugins/org.eclipse.jdt.core/1493530039.index
/.metadata/.plugins/org.eclipse.jdt.core/1791611979.index
/.metadata/.plugins/org.eclipse.jdt.core/3019268738.index
/.metadata/.plugins/org.eclipse.jdt.core/3104191383.index
/.metadata/.plugins/org.eclipse.jdt.core/3241332491.index
/.metadata/.plugins/org.eclipse.jdt.core/3254919786.index
/.metadata/.plugins/org.eclipse.jdt.core/3368800820.index
/.metadata/.plugins/org.eclipse.jdt.core/3381942249.index
/.metadata/.plugins/org.eclipse.jdt.core/3761313005.index
/.metadata/.plugins/org.eclipse.jdt.core/3806379418.index
/.metadata/.plugins/org.eclipse.jdt.core/3877108753.index
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/.metadata/.plugins/org.eclipse.team.cvs.core/.running
/.metadata/.plugins/org.eclipse.team.cvs.ui/commentTemplates.xml
/.metadata/.plugins/org.eclipse.team.cvs.ui/commitCommentHistory.xml
/.metadata/.plugins/org.eclipse.team.cvs.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.team.cvs.ui/repositoriesView.xml
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/version.ini
/PracticeHomeJava/bin/A.class
/PracticeHomeJava/bin/Animal.class
/PracticeHomeJava/bin/animalHierarchy.class
/PracticeHomeJava/bin/ankush.class
/PracticeHomeJava/bin/B.class
/PracticeHomeJava/bin/Carnivore.class
/PracticeHomeJava/bin/C.class
/PracticeHomeJava/bin/ClassASamePackage.class
/PracticeHomeJava/bin/ClassB.class
/PracticeHomeJava/bin/ClassC.class
/PracticeHomeJava/bin/CollectionDemo.class
/PracticeHomeJava/bin/com/home/ClassA.class
/PracticeHomeJava/bin/com/junitTest/Calculator.class
/PracticeHomeJava/bin/com/junitTest/parameterizedTestCalc.class
/PracticeHomeJava/bin/com/junitTest/TestCalculator.class
/PracticeHomeJava/bin/com/parsing/stax/StAXParsing.class
/PracticeHomeJava/bin/D.class
/PracticeHomeJava/bin/empAgeComparator.class
/PracticeHomeJava/bin/Employee.class
/PracticeHomeJava/bin/empSalComparator.class
/PracticeHomeJava/bin/GFGtest.class
/PracticeHomeJava/bin/Herbivore.class
/PracticeHomeJava/bin/InstanceOf.class
/PracticeHomeJava/bin/NotificationTest$1.class
/PracticeHomeJava/bin/NotificationTest$2.class
/PracticeHomeJava/bin/NotificationTest.class
/PracticeHomeJava/bin/SQLquery.class
/PracticeHomeJava/bin/Test1.class
/PracticeHomeJava/bin/Test.class
/PracticeHomeJava/.settings/org.eclipse.jdt.core.prefs
/REstFulWS/build/classes/com/home/rest/RestServices.class
/REstFulWS/.settings/.jsdtscope
/REstFulWS/.settings/org.eclipse.jdt.core.prefs
/REstFulWS/.settings/org.eclipse.wst.common.component
/REstFulWS/.settings/org.eclipse.wst.common.project.facet.core.xml
/REstFulWS/.settings/org.eclipse.wst.jsdt.ui.superType.container
/REstFulWS/.settings/org.eclipse.wst.jsdt.ui.superType.name
